.text {
	position:relative;
	width: 200px;
	height: 200px;
	font-size: 80px;
	border: 1px solid red;
	top: 200px;
	left: 520px;
	padding: 0;
}

#subtitle {
	position: relative;
	width: 200px;
	height: 200px;
	top: 300px;
	font-size: 30px;
	padding: 0;
	right: 100px;
}
.profilepage {
	background:#888 url(Me2.jpg) no-repeat center center fixed;
	background-size: 100%;
}

.wrapper.container {
	position: relative;
	width: 100%;
	height: 300px;
	border: none;
	top: 500px;
	background: hsla(193, 30%, 46%, 0.45);
	background-size: 100%;
}


